body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #F7F8FB;
  }
  
  h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  #hangman {
    margin: 20px auto;
    width: 200px;
    height: 200px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
 
    align-items: center;
    padding: .3em;
    position: relative;
  }
  
  #hangman .headHangMan{
   width: 20%;
   height: 30%;
   padding: .2em;
   display: flex;
   justify-content: center;
   align-self: center;
  }
    #hangman .head-messi{ 
      width: 100%;
      height: 100%;
      background-image: url(./cabezaMessi.jpeg);
      background-position: center;
      background-size: cover;
  }

  #hangman .body{
   width: 40%;
   height: 35%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
  }
  .body .leftArm{ 
    width: 25%;
    height: 100%;
    background-image: url(./brazoDerecho.png);
    background-position: center;
    background-size: cover;
  }
  .body .torso{ 
    width: 50%;
    height: 100%;
    background-image: url(./torso.jpg);
    background-position: center;
    background-size: cover;
  }

  .body .rightArm{ 
    width: 25%;
    height: 100%;
    background-image: url(./brazoizquierdo.png);
    background-position: center;
    background-size: cover;
  }
  
  #hangman .legs{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

   }
   .legs .left-leg{
    width: 45%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(./piernaIzquierda.jpg);
   }
   .legs .right-leg{
    width: 45%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(./piernaDerecha.jpg);
   }
  
  
  #word {
    margin: 20px auto;
    font-size: 24px;
    color: #333;
  }
  
  #letters {
    margin: 20px auto;
  }
  
  #letters button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
    color: #FFF;
    background-color: #FF6B6B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #letters button:hover {
    background-color: #FF8E8E;
  }
  
  #result {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .win {
    color: #44BD63;
  }
  
  .loss {
    color: #FF6B6B;
  }
  .x{
    height: 100%;
    width: 100%;
   z-index: 1;
   background-image: url(./x.png);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   position: absolute;
  }

  .none{
    opacity: 0 ;
  }
  .none-display{
    display: none ;
  }
  .card {
    background-color: #f44336;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    font-family: Arial, sans-serif;
  }

  .word {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
