body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

input {
    padding: 5px;
    font-size: 16px;
}

.none {
    display: none;
}
button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#message {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}
.section-vidas{
    width: 80%;
    height: 5em;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.div-vida{
    width: 1em;
    height: 1em;
    background-image: url(./corazonRoto.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.message{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.span{
    font-weight: bold;
}